SANTIS/services/Product_Order_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Product_Order"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="Product_OrderOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Product" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Product_OrderOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Price" type="xsd:float"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="Product_OrderOperationRequest">
		<wsdl:part name="parameters" element="tns:Product_OrderOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Product_OrderOperationResponse">
		<wsdl:part name="parameters" element="tns:Product_OrderOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="Product_OrderPortType">
		<wsdl:operation name="Product_OrderOperation">
			<wsdl:input message="tns:Product_OrderOperationRequest"></wsdl:input>
			<wsdl:output message="tns:Product_OrderOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Product_OrderBinding" type="tns:Product_OrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Product_OrderOperation">
			<soap:operation soapAction="http://www.talend.org/service/Product_OrderOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Product_Order">
		<wsdl:port name="Product_OrderPort" binding="tns:Product_OrderBinding">
			<soap:address location="http://localhost:8090/services/Product_Order" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>